@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow+Semi+Condensed:ital@1&family=Nunito:wght@500&display=swap');

$color1:#00BFA6;
$color2:#F50057;
$color3:#F9A826;

$font1:'Anton', sans-serif;
$font2:'Nunito', sans-serif;
$font3:'Barlow Semi Condensed', sans-serif;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.nav{
    color: $color1;
    display: flex;
    justify-content: space-between;
    
    

    h3{
        font-family: $font1;
        font-size: 50px;
        color: $color1;
        
        span{
            background:linear-gradient(to right bottom, $color1 ,10%, $color2 );
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color:transparent;
        }
    }
}



a{
    display: inline-block;
    text-decoration: none;
    font-family: $font3;
    font-size: 25px;
    padding: 30px;
    color:$color1;
    list-style: none;


    li{
        text-decoration: none;
    }
    
    li:hover{
        color:#039b87;
        font-size: 30px;
        text-decoration: underline $color2;
        
    }
}



/*PRESENTACION*/

h1{
    text-align: center;
    font-family: $font1;
    font-size: 1;
    text-transform: uppercase;
    letter-spacing: 2px;
}

p{
    text-align: center;
    font-family: $font3;
    font-size: 35px;

}

.presentacion{
    width: 100%;
    margin: 20px;
    
    ul{
        list-style: none;   
        text-decoration: none;
        font-family: $font3;
        font-size: 25px;
    }



img{
    width: 600px;
    height: 400px;
}

.btn{
    font-family: $font3;
    font-size:20px;
    color: $color2;
    border: 2px solid $color2;
}

}
/*Preguntas frecuentes*/

.preguntas-frecuentes{
    background-color: $color1;
    height: 150vh;
    
    .questions{
        
        justify-content: space-between;
        
        
    }
}

.prueba{
    border: 3px solid black;
}























